{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy {{ item.name }}</title>
    <script src="{% static 'js/stripe.js' %}"></script>
</head>
<body>
    <h1>Наименование: {{ item.name }}</h1>
    <p>Описание: {{ item.description }}</p>
    <p>Цена: ${{ item.price }}</p>
    <button id="buyButton">Buy</button>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelector('#buyButton').addEventListener('click', function(event) {
                event.preventDefault();

                // Отправляем AJAX-запрос на создание сессии Stripe
                fetch('/create-session/{{ item.pk }}')  // Укажите правильный путь к вашему APIView
                .then(response => response.json())
                .then(data => {
                    const sessionId = data.session_id;
                    const publishableKey = '{{ settings.STRIPE_SECRET_KEY }}';  // Подключаем публичный ключ Stripe

                    // Открываем форму оплаты Stripe Checkout
                    stripe.redirectToCheckout({
                      sessionId: sessionId
                    }).then(function(result) {
                      // Handle result.error or redirect to Checkout.
                    });
                })
                .catch(error => console.log(error));
            });
        });
    </script>
    {% endverbatim %}
</body>
</html>